body {
    background-color: #ffdccc;
    margin: 30px;
    }

body {margin-top: 30px; margin-left: 10px; margin-left: 60px;}

/* nav bar */
    nav a:hover {background-color: #dde5b6; }

    nav a {color:#5d2a42; }
    

/* detials/accents */

    hr {
        background-color: #fb6376;
        height: 2px;
        border: none;
        margin-left: 60px;
        margin-right: 80px;
    }

/* images */

.column1 img, .column2 img, .column3 img, .column4 img {border-radius: 5px;}

img {width: 50%;}

.me {width: 20%;}

/* fonts */

h1, h2, h3, nav {color: #5d2a42;}

h1 {padding: 100px;}

h2, h3 {text-align: center;}

style {margin: 10px; }

p, li, nav {font-family: 'Crimson Text', serif;}
h1, h2, h3, h4 {font-family: 'Racing Sans One', cursive;}


@media only screen and (max-width: 600px)
    {
        nav a {
            max-width: 100%; 
            display: block;
            line-height: 2.5em;
        }
        span {
            display: none;
        }
    }


    section.projects {
        margin: 60px;
        background-color: #fff9ec;
        padding: 10px;
    }

/* DESIGN */

.parentpics {
    display: flex;
    margin-left: 60px;
    margin-right: 80px;
    
    
}

.column1 img, .column2 img, .column3 img, .column4 img {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;

}

.column1 {flex: 1;}

.column2 {flex: 1;}

.column3 {flex: 1;}

.column4 {flex: 1;}



.aboutme, .favorites, .recreate {margin: 60px;}



section.aboutme {
    display: flex;
    justify-content: space-between;
    padding: 2em;

}

.bioandskills {
    display: flex;
    flex-direction: column;
    padding: 5em;

}

#me {
    width: 100%;
}



/* header and nav*/

header.logo {
    text-align: center;
}

.navbar, .parentnavbox {display: flex;}

.parentnavbox {margin: 60px; }

.navbar {justify-content: flex-end;}

/* header and nav*/

section.projects {
    display: flex;
}

.project1images, .project2images {
    display: flex;
}

.images1, .images2 {
    width: 20em;
}

.projectdesc1 {
    width: 40em;
}

.project1, .project2 {
    display: flex;
    flex-direction: column;
    padding: 2.5em;
    flex-wrap: wrap;
}

    
